<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aduro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A7C7780AFD37AB3BF61B194FE6E94430B5753BA8</string>
				<key>dateExpires</key>
				<string>26/02/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A7C7780AFD37AB3BF61B194FE6E94430B5753BA8</string>
						<key>dateExpires</key>
						<string>26/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4S74ZAM22X</string>
						<key>name</key>
						<string>NBE PRODUCTION AS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A7C7780AFD37AB3BF61B194FE6E94430B5753BA8</string>
						<key>dateExpires</key>
						<string>26/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4S74ZAM22X</string>
						<key>name</key>
						<string>NBE PRODUCTION AS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A7C7780AFD37AB3BF61B194FE6E94430B5753BA8</string>
						<key>dateExpires</key>
						<string>26/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FGRoute.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4S74ZAM22X</string>
						<key>name</key>
						<string>NBE PRODUCTION AS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A7C7780AFD37AB3BF61B194FE6E94430B5753BA8</string>
						<key>dateExpires</key>
						<string>26/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4S74ZAM22X</string>
						<key>name</key>
						<string>NBE PRODUCTION AS</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4S74ZAM22X.com.nbe.Aduro.ios</string>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4S74ZAM22X</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Aduro.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eacf4044-618b-40bf-900d-1cb531d5fe3c</string>
				<key>name</key>
				<string>aduro-native-adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4S74ZAM22X</string>
				<key>name</key>
				<string>NBE PRODUCTION AS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
